.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    isolation: isolate;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-out, visibility 300ms ease-out;
    @include media(768){
        padding: 15px;
    }
    &#register{
        .popup__body{
            @include res('width', 899px);
            @include res('height', 830px);
            background-color: #ffffff;
            max-height: calc(100% - 50px);
            @include media(768){
                @include resa('width', 899px);
                height: max-content;
            }
            &::after{
                background: url('../img/popup-img.png') center / cover no-repeat;
                content: "";
                position: absolute;
                @include res('width', 643px);
                @include res('height', 669px);
                @include res('top', 129px);
                right: 0;
                z-index: -1;
                @include media(768){
                    display: none;
                }
            }
        }
        &__content{
            position: relative;
            
        }
    }
    &#video{
        .popup__body{
            display: block;
            position: relative;
            border-radius: 0;
            width: calc(100% - 60px);
            max-width: 800px;
            @include media(768){
                width: calc(100% - 30px);
            }
        }
        .popup__video{
            height: 0;
            position: relative;
            padding-bottom: 56.25%;
            iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                width: 100%;
                height: 100%;
            }
        }
    }
    &#privacy{
        .popup__body{
            &::-webkit-scrollbar{
                display: none;
            }
            background-color: #ffffff;
            @include res('width', 899px);
            background-color: #ffffff;
            @include media(768){
                @include resa('width', 899px);
                height: calc(100% - 100px);
            }
        }
        .popup__content{
            display: flex;
            flex-direction: column;
            &::before{
                display: none;
            }
        }
    }
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000090;
        z-index: -1;
        .popup__button{
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: rgba(30,30,30,.6);
            svg{
                width: 15px;
                height: 15px;
            }
        }
    }
    &__body{
        position: relative;
        z-index: 100;
        @include res('border-radius', 20px);
        max-height: calc(100% - 60px);
        isolation: isolate;
        overflow: hidden;
        overflow-y: auto;
        @include media(768){
            @include resa('border-radius', 20px);
            height: max-content;
            max-height: calc(100% - 30px);
        }
    }
    &__content{
        min-height: 100%;
        height: max-content;
        position: relative;
        isolation: isolate;
        @include res('padding-top', 20px);
        @include res('padding-bottom', 20px);
        @include res('padding-right', 26px);
        @include res('padding-left', 37px);
        @include media(768){
            @include resa('padding-top', 15px);
            @include resa('padding-bottom', 15px);
            @include resa('padding-right', 15px);
            @include resa('padding-left', 15px);
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: url('../img/popup-bg.png') top / cover no-repeat ;
            z-index: -1;
        }
    }
    &__button{
        position: absolute;
        @include res('top', 20px);
        @include res('right', 20px);
        @include res('height', 20px);
        @include res('width', 20px);
        @include media(768){
            @include resa('top', 20px);
            @include resa('right', 20px);
            @include resa('height', 20px);
            @include resa('width', 20px);
        }
        svg{
            width: 100%;
            height: 100%;
        }
    }
    &__title{
        font-weight: 700;
        @include res('font-size', 40px);
        @include res('margin-bottom', 23px);
        @include media(768){
            @include resa('font-size', 20px);
            @include resa('margin-bottom', 10px);
            @include resa('max-width', 280px);
        }
    }
    &__p{
        @include res('font-size', 21px);
        @include res('margin-bottom', 7px);
        @include media(768){
            @include resa('font-size', 14px);
            @include resa('margin-bottom', 10px);
        }
    }
    &__desc{
        font-weight: 700;
        @include res('font-size', 24px);
        @include res('margin-bottom', 19px);
        @include media(768){
            @include resa('font-size', 16px);
            @include resa('margin-bottom', 10px);
        }
    }
    &__subtitle{
        @include res('margin-bottom', 12px);
        @include res('margin-left', 46px);
        @include res('font-size', 14px);
        @include media(768){
            @include resa('font-size', 14px);
            @include resa('margin-bottom', 4px);
            margin-left: 0;
        }
    }
    &__input{
        border: solid #E5192E;
        width: 100%;
        @include res('padding-top', 30px);
        @include res('padding-bottom', 30px);
        @include res('padding-left', 46px);
        @include res('padding-right', 46px);
        @include res('border-radius', 500px);
        @include res('border-width', 1px);
        @include res('font-size', 21px);
        @include res('max-width', 325px);
        @include media(768){
            width: 100%;
            max-width: 100%;
            @include resa('font-size', 14px);
            @include resa('height', 50px);
            @include resa('padding-left', 20px);
            @include resa('padding-right', 20px);
        }
        &:not(:last-of-type){
            @include res('margin-bottom', 12px);
            @include media(768){
                margin-bottom: 0;
            }
        }
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid #E5192E;
        background: #fff;
        width: 100%;
        @include res('padding-top', 15px);
        @include res('padding-bottom', 15px);
        @include res('padding-left', 46px);
        @include res('padding-right', 23px);
        @include res('border-radius', 500px);
        @include res('border-width', 1px);
        @include res('font-size', 21px);
        @include res('max-width', 325px);
        @include media(768){
            width: 100%;
            max-width: 100%;
            @include resa('font-size', 14px);
            @include resa('height', 50px);
            @include resa('padding-left', 20px);
            @include resa('padding-right', 20px);
        }
        select{
            border: none;
            @include res('font-size', 21px);
            @include media(768){
                @include resa('font-size', 14px);
            }
        }
    }
    &__phone{
        display: none;
        @include res('min-width', 50px);
        @include res('width', 50px);
        @include res('height', 50px);
        @include media(768){
            @include resa('min-width', 25px);
            @include resa('width', 25px);
            @include resa('height', 25px);
        }
        svg{
            width: 100%;
            height: 100%;
        }
        &.active{
            display: block;
        }
    }
    &__item{
        @include res('margin-bottom', 10px);
        @include media(768){
            &:not(:last-of-type){
                @include resa('margin-bottom', 10px);
            }
        }
    }
    &__btn{
        color: #fff;
        background: #E5192E;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 300ms ease-out;
        @include res('gap', 15px);
        @include res('margin-top', 16px);
        @include res('max-width', 325px);
        @include res('font-size', 18px);
        @include res('border-radius', 500px);
        @include res('padding-top', 30px);
        @include res('padding-bottom', 30px);
        @include media(768){
            max-width: 100%;
            width: 100%;
            @include resa('font-size', 12px);
            @include resa('height', 50px);
            @include resa('gap', 15px);
            @include resa('margin-top', 12px);
        }
        &:hover{
            background: #db071c;
        }
        svg{
            @include res('width', 20px);
            @include res('height', 20px);
            @include media(768){
                @include resa('width', 15px);
                @include resa('height', 15px);
            }
        }
    }
    &__checkboxes{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        @include res('gap', 9px);
        @include res('margin-top', 13px);
        @include res('margin-left', 33px);
        @include media(768){
            @include resa('margin-top', 16px);
            @include resa('gap', 9px);
        }
        input{
            position: relative;
            appearance: none;
            border: solid #E5192E;
            cursor: pointer;
            @include res('width', 20px);
            @include res('height', 20px);
            @include res('border-radius', 2px);
            @include res('border-width', 1px);
            @include media(768){
                @include resa('width', 15px);
                @include resa('height', 15px);
                @include resa('border-radius', 2px);
                @include resa('border-width', 1px);
            }
            &:checked{
                &::before{
                    opacity: 1;
                    visibility: visible;
                }
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transition: 300ms ease-out;
                background: url('../img/checked.svg') center / cover no-repeat;
            }
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__label{
        @include res('font-size', 10px);
        line-height: 150%;
        @include media(768){
            @include resa('font-size', 10px);
        }
    }
    &__link{
        @include res('font-size', 10px);
        line-height: 150%;
        text-decoration: underline;
        color: #E5192E;
        @include media(768){
            @include resa('font-size', 10px);
        }
    }
    &__txt{
        @include res('margin-top', 20px);
        @include res('font-size', 21px);
        @include res('max-width', 798px);
        @include media(768){
            @include resa('margin-top', 20px);
            @include resa('font-size', 12px);
            @include resa('max-width', 798px);
        }
    }
}